body{
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    
    /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/** parametrage du terrain **/
#terrain{
    position: relative;
    
    width: 800px;
    height : 400px;

    border:1px solid #000;
    border-top-color:#fff;
    border-bottom-color:#fff;
}

.tilt{
    border-color: rgb(255, 255, 255) !important;
}


/** parametrage de la balle**/
#balle{
    position: absolute;
    top : 50%;
    left: 50%;

    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #fff;

}

/** parametrage de la raquette **/
#raquette
{
    position: absolute;

    --hauteur: 25%; /* mise en place des variable */
    
    /*top : calc( 50% - var(--hauteur)/2 ); /** clac, faire des calculs en css // var utiliser la variable **/

    width: 10px;
    height: var(--hauteur);
    background-color: rgb(255, 255, 255);
}
#droite
{
    right: 1%;
}
#gauche
{
    left: 1%;
}